<div id="question">
  <%= form_for(question) do |f| %>
      <% if question.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

            <ul>
              <% question.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :Question %>
        <%= f.text_field :Question %>
      </div>


<!--http://guides.rubyonrails.org/form_helpers.html#making-select-boxes-with-ease-->
      <div class="field">
        <%= f.label :BookID %>
        <%= f.collection_select :BookID, Book.all, :id, :Title %>

        </div>


      <div class="field">
        <%= f.label :TeamID %>
        <%= f.collection_select :TeamID, Team.all, :id, :Name %>
      </div>

      <div class="field">
        <%= f.label :createdBy %>
        <%= f.text_field :createdBy %>
      </div>

      <div class="field">

        <%= f.label :updatedBy %>
        <%= f.text_field :updatedBy %>
      </div>





      <div class="actions">
        <%= f.submit %>
      </div>





  <% end %>
  All question submissions will be viewed before being added to our list
  <!--</textarea>-->

</div>