<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @book.Title %>
</p>

<p>
  <strong>Author</strong>
  <%= @book.Author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.Genre %>
</p>

<p>
  <strong>CoverImage:</strong>
  <%= @book.CoverImage %>
</p>

<p>
  <strong>Details:</strong>
  <%= @book.Details%>
</p>

<p>
  <strong>YearID:</strong>
  <%= @book.YearID%>
</p>

<p>
  <strong>PLevelID:</strong>
  <%= @book.LevelID %>
</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
